.total-movies-text {
  margin: 10px 0;
  color: #3d3d3d;
}

.movie-summary-container {
  position: relative;
  max-width: 1252px;
  margin: 150px auto 0 auto;
  display: flex;
  gap: 30px;
}

.movie-summary {
  max-width: 930px;
  margin: 0 auto;
}

.movie-summary-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.movie-item {
  position: relative;
  background: #ffff;
  border-radius: 2px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.movie-image {
  padding: 20px 20px 0 20px;
  max-width: 100%;
}

.movie-descriptions {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.movie-title {
  font-size: 16px;
  grid-column-start: -1;
  grid-column-end: 1;
  grid-row-start: 1;
}

.movie-subtitle {
  font-size: 14px;
  display: flex;
  grid-column-start: -1;
  grid-column-end: 1;
  grid-row-start: 2;
}

.movie-date {
  grid-row: 3;
  /* margin-top: auto; */
}

.movie-btn {
  grid-row: 3;
  max-width: 100%;
}

.pagination {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  background: #fff;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-item:not(:last-child) {
  border-right: none;
}

.page-item.active {
  background-color: #926836;
  border-color: #926836;
  color: #fff;
}

.page-item:not(.active):hover {
  background-color: #f1f1f1;
}

.page-link {
  background: transparent;
  border: none;
}

@media (max-width: 1224px) {
  .movie-summary-container {
    margin-top: 160px;
    flex-direction: column;
  }

  .total-movies-text {
    position: absolute;
    top: 0;
    right: 20px;
  }

  .movie-summary-item {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }

  .movie-item {
    max-width: 100%;
  }

  .movie-image {
    max-width: 100%;
    padding: 10px 10px 0 10px;
  }

  .movie-btn {
    padding: 0;
    color: #926836;
    background: transparent;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}
