.filter-container {
  max-width: 245px;
}

.filter {
  background: #ffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 0 10px;
}

.filter-item {
  padding: 10px;
  border-bottom: 1px solid #e3e4e6;
}

.filter-name {
  margin-bottom: 10px;
}
