html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: #fcf6f2;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-default {
  background: #b76443;
  border: none;
  width: 80px;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.paragraph-text {
  margin: 10px 0;
  color: #3d3d3d;
}

h1,
h2,
h3,
p,
label {
  color: #3d3d3d;
}
